Repository yildiraykoyuncu/testing-module-project-simple-games, pull requests merged in 2020-07, with the labels that each got.

#9 user story
  user-stories.md
Labels: User-stories of Dice game

#6 dice-game
  dice.html
  scripts/dice/listener.js
  scripts/dice/playing.js
  scripts/dice/reset.js
  scripts/dice/start.js
Labels: Dice-Game

#7 style
  style.css
Labels: style

#13 Creating Guessing Game
  dependencies/review-buttons/init.js
  guessingGame.html
  index.html
  scripts/user-actions/guessing.js
  styleGuessing.css
Labels: guessing-game

#14 Style and Finishing Touches
  guessingGame.html
  image/1161516707.jpg
  image/37186.jpg
  index.html
  memory.html
  number-game.html
  style.css
  styleGuessing.css
Labels: style

#16 Creating readme.md
  README.md
  dice.html
  guessingGame.html
  img/dice-game.png
  img/guessing-game.png
  img/index.png
  img/memory-game.png
  img/number-game.png
  index.html
  style.css
  styleGuessing.css
Labels: bug, enhancement, guessing-game, style
